.App {
  font-size: calc(10px + 2vmin);
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  min-height: 100vh;
}

.App-header {
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-container {
  display: flex;
  flex-direction: row;
}

.App-sidebar {
  flex: 1;
}

.App-video {
  width: 80%;
  max-width: 90vw;
  max-height: 90vh;
}
