.App {
  text-align: center;
  background-color: #282c34;
  color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  min-height: 100vh;
}

.App-header {
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-container {
  display: flex;
  flex-direction: row;
}
